extends layout.pug

block content
    h1 Hello, world!
    div(class="container", style="height:100%")
        div(class="row align-items-start")
            div(class="col-md-6") Column left
            div(class="col-md-6") Column right
        
        div(class="row align-items-center")
            div(class="col-md-4") Column left
            div(class="col-md-8") Column right

        div(class="row align-items-end")
            div(class="col") Column one
            div(class="col-sm-6") Column two
            div(class="col") Column three